In [51]:
import pandas as pd


v_df = pd.read_csv('vehicles_dataset_upd.csv')
v_df.shape

(9868, 20)

In [52]:
v_df.describe(include='all')

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
count,9.868000e+03,9868,9868,9868,9.868000e+03,9868.000000,9868,9868,9868,9868.000000,9868,9868,9868,9868,9868,9868.000000,9868.000000,9868,9868,9868
unique,NaN,9868,393,405,NaN,NaN,40,3438,5,NaN,6,3,8968,9718,51,NaN,NaN,9828,3,9782
top,NaN,https://chattanooga.craigslist.org/ctd/d/chatt...,"kansas city, MO",https://kansascity.craigslist.org,NaN,NaN,ford,f-150,gas,NaN,clean,automatic,https://images.craigslist.org/00N0N_1xMPvfxRAI...,PLEASE VIEW THE FREE CARFAX HISTORY REPORT AT ...,ca,NaN,NaN,2021-04-11T10:51:21-0400,high,2021-04-22 15:01:24+00:00
freq,NaN,1,86,86,NaN,NaN,1626,148,8298,NaN,9556,7577,188,7,1106,NaN,NaN,2,3429,3
mean,7.311555e+09,NaN,NaN,NaN,2.060201e+04,2011.698318,NaN,NaN,NaN,93652.071342,NaN,NaN,NaN,NaN,NaN,38.602746,-94.138420,NaN,NaN,NaN
std,4.362736e+06,NaN,NaN,NaN,1.254372e+05,6.425102,NaN,NaN,NaN,63274.797554,NaN,NaN,NaN,NaN,NaN,5.845693,18.133258,NaN,NaN,NaN
min,7.301586e+09,NaN,NaN,NaN,5.000000e+02,1995.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,-67.144243,-158.069300,NaN,NaN,NaN
25%,7.308182e+09,NaN,NaN,NaN,7.800000e+03,2008.000000,NaN,NaN,NaN,39252.500000,NaN,NaN,NaN,NaN,NaN,34.862900,-110.199536,NaN,NaN,NaN
50%,7.312775e+09,NaN,NaN,NaN,1.559000e+04,2013.000000,NaN,NaN,NaN,89116.000000,NaN,NaN,NaN,NaN,NaN,39.300000,-87.980000,NaN,NaN,NaN
75%,7.315284e+09,NaN,NaN,NaN,2.799000e+04,2017.000000,NaN,NaN,NaN,137198.250000,NaN,NaN,NaN,NaN,NaN,42.440000,-80.829973,NaN,NaN,NaN
max,7.317090e+09,NaN,NaN,NaN,1.234568e+07,2022.000000,NaN,NaN,NaN,283995.000000,NaN,NaN,NaN,NaN,NaN,64.947500,173.885502,NaN,NaN,NaN

In [53]:
v_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9868 entries, 0 to 9867
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              9868 non-null   int64
 1   url             9868 non-null   object
 2   region          9868 non-null   object
 3   region_url      9868 non-null   object
 4   price           9868 non-null   int64
 5   year            9868 non-null   int64
 6   manufacturer    9868 non-null   object
 7   model           9868 non-null   object
 8   fuel            9868 non-null   object
 9   odometer        9868 non-null   int64
 10  title_status    9868 non-null   object
 11  transmission    9868 non-null   object
 12  image_url       9868 non-null   object
 13  description     9868 non-null   object
 14  state           9868 non-null   object
 15  lat             9868 non-null   float64
 16  long            9868 non-null   float64
 17  posting_date    9868 non-null   object
 18  price_category  9868 non-null   object
 19  date            9868 non-null   object
dtypes: float64(2), int64(4), object(14)
memory usage: 1.5+ MB

### Видно, что в датасете нет пустых значений, поэтому выполнить пункты задания:
2)    Обработайте пропуски в годе выпуска автомобиля.
3)    Обработайте пропуски в типе топлива.
4)    Обработайте пропуски в модели автомобиля.
5)    Обработайте пропуски в статусе автомобиля.
### не получиться

In [58]:
v_df['year'].dtype

dtype('int64')

## Нет особого смысла менять тип столбца $year$, так как он итак $int64$

In [55]:
categorical_columns = ['region', 'manufacturer', 'model', 'fuel', 'title_status', 'transmission', 'state', 'price_category']

for col in categorical_columns:
    v_df[col]= v_df[col].astype('category')

v_df.dtypes

id                   int64
url                 object
region            category
region_url          object
price                int64
year                 int64
manufacturer      category
model             category
fuel              category
odometer             int64
title_status      category
transmission      category
image_url           object
description         object
state             category
lat                float64
long               float64
posting_date        object
price_category    category
date                object
dtype: object

In [56]:
v_df['year'].describe()

count    9868.000000
mean     2011.698318
std         6.425102
min      1995.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

In [57]:
Q1 = 2008
Q3 = 2017
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = v_df[(v_df['year'] < lower_bound) | (v_df['year'] > upper_bound)]

print(f"Q1: {Q1}, Q3: {Q3}, IQR: {IQR}")
print(f"Нижняя граница: {lower_bound}, Верхняя граница: {upper_bound}")
print(f"Количество выбросов: {len(outliers)}")

Q1: 2008, Q3: 2017, IQR: 9
Нижняя граница: 1994.5, Верхняя граница: 2030.5
Количество выбросов: 0